*{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
body{
 font-size: calc(10px+1vh);
 height: 98vh ;    
 position: relative;
}
header{
    font-size: 2em;
    height: 15% ;
    position: relative;
    background-color: rgba(0, 41, 124, 0.418);
}
nav{ height: 6% ;}
nav button{
    font-size: 1.6em;
   }
   button{
    display: inline;
    border: none;
    background-color: black;
    color:yellow;
}
button:hover{
    color:white;
}

button.small{
    width: 30%;
    padding: 0.1em 0.2em;  
}
button.big{
    width: 45%;
    padding: 0.1em 0.5em;  
}
main{
    margin-top: 1em;
    font-size: 1.6em;
    height: 65% ;
    position: relative;
    
}
main p#en{
    font-size: 2em;
    color:lightblue;
    text-shadow: 2px 2px gray ;
}
main p#pn{
    font-size: 1.5em;
    color:lightseagreen;
   }
form{
    position: absolute ;
    width: 100% ;
    height: 76% ;
    border: 2px solid gray;
    top: 6% ;
    /* background-color: antiquewhite; */
    background-color: blue;
    font-size: 1.1em ;
}
form p{
    background-color: yellow;
    font-size: 1.5em;
}
form input{
    font-size: 1.5em ;
    width: 10em;
}
form button{
    font-size: 1.3rem ;
    margin-right: 1em;
    color: gray;
}
footer{
    height: 15% ;
    font-size:1.5em;
    color: rgba(0, 41, 124, 0.418);
}
span#level{
    display: block;
    position: absolute;
    right:20px;
    top:1px;
    color:blue;
    font-size: 0.5em;
}
p.cn{
  border:1px solid blue ;
  background-color: antiquewhite;
  cursor: pointer;
  font-size: 1.1em;
  padding:0.2em 0.1em ;
  margin-bottom: 0.2em;
}
p.cn.right{
  background-color: yellow;
  color: red ;
}
p.cn.wrong{
  background-color: gray;
  color:white;
}
p.cn:hover{
    color: blue ;
}
header span#response{
    font-size: 0.8em;
    color: red;
    position: absolute;
    right: 0.5em;
    top:2em;
}
p#log{
    color: yellow;
    font-size: 0.8em;
    padding: 5px 10px;
    text-align: right;
    background-color: rgba(0, 41, 124, 0.418);
}